{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Monte seu PC{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'pc_build/css/pc_build.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header class="navbar">
        <a href="{% url 'index' %}">
            <img src="{% static 'setup/icons/logo.png' %}" alt="AMBuilds" class="logo" />
        </a>
        <strong>MONTE SEU PC</strong>
        <div class="login_redirect">
            <a href="#" class="right_icon"><i class="fas fa-user"></i></a>
            <span>
                <a href="{% url 'login' %}" class="right_text">Entre</a> ou<br>
                <a href="{% url 'register' %}" class="right_text">Cadastre-se</a>
            </span>
        </div>
    </header>

    <main>
        {% block content %}
        <!-- Conteúdo das páginas -->
        {% endblock %}
    </main>

    <footer class="footer">
        <img style="width: 100%; padding-top: 20px;" src="{% static 'home/img/Rectangle.png' %}" alt="">
        <a href="#"><img style="width: 125px;" src="{% static 'setup/icons/logo.png' %}" alt="AMBuilds" /></a>
        <div class="footer-text">
            <img style="width: 40%;" src="{% static 'setup/icons/Flag_of_Brazil.svg' %}" alt="">
            Brasil
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>

</html>